*{
    background-color: lightseagreen;
}
img{
    border: 2px solid red;
    box-shadow: 10px 30px 20px rgba(0, 0, 0, 0.51);
}
P{
    background-color: #ccc;
}
.f1{
    background-color: blue;
    color: white;
}